/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 */

div.jp-progress {
	overflow:hidden;
	background-color: #ddd;
}
div.jp-audio div.jp-progress {
	height:32px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	left:0px;
	width:900px;
    float:left;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
	left:166px;
	width:130px;
}
div.jp-video div.jp-progress {
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}
div.jp-seek-bar {
	/*background: url("jplayer.blue.monday.jpg") 0 -202px repeat-x;*/
	background-color: #ccc;
	width:0px;
	height:100%;
	cursor: pointer;
}
div.jp-play-bar {
	/*background: url("jplayer.blue.monday.jpg") 0 -218px repeat-x ;*/
	background-color: #333;
	width:0px;
	height:100%;
}
div.jp-duration {
 float:left;
    margin-top:4px;
    padding: 4px;
}

div.jp-current-time {
    float:left;
    margin-top:4px;
    padding: 4px;
}

ul.jp-controls { 
    float:left;
    min-width:100px;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
	background: url("jplayer.blue.monday.seeking.gif");
}

/* @end */

